<div class="container">

<table class="table table-bordered table-striped text-center mt-4">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Usuario</th>
      <th>Rol</th>
      <th>Enlaces</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {{#each usuarios}}
    
    <tr>
      <td> {{id}}</td>
      <td>{{fullname}}</td>
      <td>{{username}}</td>
      <td>{{rol}}</td>
      <td>
         {{#each links}}
                  <p>{{url}}</p>
                  
                  {{/each}}
                

      </td>
      <td><button class="btn btn-primary">Editar</button></td>
      <td><button class="btn btn-danger">Eliminar</button></td>
    </tr>
     {{/each}}
  </tbody>
</table>
</div>
